alabaster==0.7.12
Babel==2.8.0
backports.functools-lru-cache==1.6.1
bz2file==0.98
CacheControl==0.12.5.1
certifi==2019.11.28
chardet==3.0.4
configparser==4.0.2
cycler==0.10.0
docutils==0.16
future==0.18.2
httplib2==0.18.1
idna==2.9
imagesize==1.2.0
Jinja2==2.11.2
kiwisolver==1.1.0
lxml==4.5.1
MarkupSafe==1.1.1
matplotlib==2.2.5
msgpack==1.0.0
nibabel==2.5.2
numpy==1.16.6
packaging==20.4
Pillow==6.2.2
PyCap==1.0.2
pydicom==1.4.2
Pygments==2.5.2
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
pyxnat==1.0.0.0.3
PyYAML==5.3.1
recon-stats==0.0.3
requests==2.23.0
scipy==1.2.3
semantic-version==2.3.1
six==1.15.0
snowballstemmer==2.0.0
Sphinx==1.8.5
sphinxcontrib-websupport==1.1.2
subprocess32==3.5.4
typing==3.7.4.1
urllib3==1.25.9
xlrd==1.2.0
